.movies-card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.movies-card-list__list {
    width: 89.2%;
    padding: 0;
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    grid-gap: 59px 30px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .movies-card-list__list {
        grid-template-columns: repeat(auto-fill, 339px);
        grid-gap: 47px 30px;
    }
}

@media screen and (max-width: 793px) {
    .movies-card-list__list {
        width: 93%;
    }
}

@media screen and (max-width: 360px) {
    .movies-card-list__list {
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 39px;
        width: 93.75%;
    }
}