.search-form {
    width: 89%;
    height: 152px;
    background: transparent;
    margin: 0 auto;
    position: relative;
}

.search-form::before {
    border-bottom: 1px solid #424242;
    position: absolute;
    bottom: 0;
    width: 100%;
    content: '';
}

.search-form__box {
    width: 100%;
    height: 72px;
    display: flex;
    background: #222222;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    margin-top: 70px;
    align-items: center;
}

.search-form__field {
    width: 80%;
    border-right: 1px solid #505050;
    height: 40px;
    display: flex;
    align-items: center;
}

.lupa {
    margin-left: 19px;
    margin-right: 10px;
}

.search-form__input {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    width: 82.2%;
    border: none;
    background: transparent;
}

.search-form__btn {
    background-image: url(../../images/find.svg);
    width: 80px;
    height: 34px;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    margin-right: 19px;
    cursor: pointer;
    transition: .2s;
}

.search-form__btn:hover {
    opacity: .8;
    transition: .2s;
}

.tumbler__label {
    display: flex;
    font-style: normal;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-right: 20px;
}

.checkbox {
    margin-left: 29px;
    margin-right: 14px;
    z-index: -1;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.checkbox__icon {
    display: inline-block;
    width: 34px;
    height: 14px;
    background-image: url(../../images/smalltumb_active.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: unset;
    cursor: pointer;
    margin-left: 29px;
    margin-right: 14px;
    /* transition: .2s; */
}

/* .checkbox__icon:hover {
    opacity: .8;
    transition: .2s;
} */

.checkbox:checked + .checkbox__icon {
    background-image: url(../../images/tumbtumbler-dis.svg);
    border-radius: 100px;
    height: 13px;
    width: 34px;
    background-size: cover;
}

@media screen and (max-width: 640px) {
    .search-form {
        width: 93.75%;
    }

    .search-form__input {
        font-size: 14px;
        line-height: 20px;
    }

    .search-form__box {
        flex-direction: column;
        align-items: center;
    }

    .search-form__field {
        border: none;
        width: 100%;
        margin-top: 19px;
    }

    .tumbler__label {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 46px;
        font-size: 11px;
    }
}