.search-form {
    width: 100%;
    height: 222px;
    background: transparent;
}

.search-form__box {
    
}

.search-form__field {
    
}

.search-form__input {
    
}

.search-form__btn {
    
}

.tumbler__label {
    
}

.checkbox {
    
}

.checkbox__icon {
    
}