.caption {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.caption_text {
    color: #8B8B8B;
    margin: 0;
}

.caption_link {
    color: #4285F4;
    text-decoration: none;
    margin-left: 6px;
    cursor: pointer;
    transform-origin: .2s;
}

.caption_link:hover {
    opacity: .7;
    transition: .2s;
}

@media screen and (max-width: 480px) {
    .caption {
        font-size: 12px;
        line-height: 15px;
    }

    .caption_link {
        margin-left: 7px;
    }
}

